/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #1c2f4b;
    background-size: auto 100vh;
    font-size: 10px;
    height: 100vh;
}

/* MOBILE */
@media(min-width: 400px) {
    body {
        font-size: 14px;
    }
}

header {
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #ffc931;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    list-style: none;
}   

.menu a {
    display: block;
    padding: 10px;
}

a {
   color: #1c2f4b; 
   text-decoration: none;
   text-transform: uppercase;
}

.site-title, 
.site-subtitle {
    color: #ffc931;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}

.img-portfolio {
    height: 100px;
    width: 100px;
}



